@{
    ViewBag.Title = "Json String Sanitizer";
}

<div class="jumbotron">
    <h1>Sanitize Json String</h1>
    <p>The goal of this code is to remove all keys that have N/A, - or empty strings as value.
    <br />
    If an array contains an item with one of these values mentioned, the array item should be removed.
    
    </p>
    <br />
    <br />
    <h3>Inputed String</h3>
    <pre>@ViewBag.InputString</pre>
    <br />
    <br />
    <h3>Sanitized String</h3>
    <pre>@ViewBag.SanitizedString</pre>
</div>